<html>

<head>
	<Title>Mini Mercado</title>
	<link href="css\estilo.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="shortcut icon" href="..\imagens\favicon.ico" type="image/x-icon" />
	<meta charset="UTF-8">
</head>

<body>

	<header>
		<center><img src="..\imagens\icon.png" class="imagem-logo"></center>

		<h1 class="nome">Mini Mercado Quase Tudo</h1>

		<table>
			<tr>
				<th class="menu"> <A href="index.html">Inicio</A> </th>
				<th class="menu"> <A href="produtos.php">Produtos</A> </th>
				<th class="menu"> <A href="carrinho.php">🛒 Carrinho</A></th>
				<th class="menu"> <A href="login.php">Login</A> </th>

			</tr>
		</table>
	</header>
	<main>

		<h2>Qualidade e Tradição</h2>
		<div class="galeria">
			<img src="..\imagens\qualidade.jpg" class="imgs-apresentacao">
			<img src="..\imagens\qualidade2.jpg" class="imgs-apresentacao">
			<img src="..\imagens\qualidade3.jpg" class="imgs-apresentacao">
			<img src="..\imagens\qualidade4.jpg" class="imgs-apresentacao">
			<img src="..\imagens\qualidade5.jpg" class="imgs-apresentacao">
			<img src="..\imagens\qualidade6.jpg" class="imgs-apresentacao">
		</div>
	</main>
</body>

</html>